{% extends 'common/article-body.twig' %}

{% set sharing %} {# render the sharing markup and store it for use in the layout #}
	{% set socialLinks = {
		'facebook': 'Share on Facebook',
		'twitter': 'Share on Twitter'
	} %}
	{% include 'common.social-sharing.twig' with {
		context_class: 'story-share'
	} %}
{% endset %}

{% set imgIxPath %}
	{{ theme_asset( '/assets/js/libs/imgix.min.js' ) }}
{% endset %}
{% set imgIxPath = '<script type="text/javascript" src="' ~ imgIxPath ~ '"></script>
	<script>
		imgix.onready(function() {
			imgix.fluid({
				updateOnResizeDown: true,
				pixelStep: 5,
				autoInsertCSSBestPractices: true
			});
		});
	</script>' %}

{# hero-override #}

{% block article_hero %}
	{% if article.getLinkedContent('Hero Override') %}
		{% set heroOverride = '<div class="hero-override mobile-hero">' ~ article.getLinkedContent('Hero Override')|raw ~ '</div>' ~ imgIxPath %}
		{% set heroOverride = heroOverride|replace({'<!-- share -->': sharing}) %}
		{{ heroOverride|raw }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block body_class %}{{ parent() }}{% endblock %}

{% block st_styles %}
    {{ parent() }}
    
    {# Fetch page styles #}
	
	{% if article.getLinkedContent('Mobile Styles') %}
		{% set articleStyles = article.getLinkedContent('Mobile Styles')|raw %}
	{% elseif article.getLinkedContent('Responsive Styles') %}
		{% set articleStyles = article.getLinkedContent('Responsive Styles')|raw %}
	{% endif %}
 	{{ articleStyles|raw }}
{% endblock %}

{% block headerScripts %}
	{{ parent() }}
	
	{# Fetch scripts for the document header #}
	
	{% if article.getLinkedContent('Header Scripts') %}
		{% set articleHeaderScripts = article.getLinkedContent('Header Scripts')|raw %}
	{% elseif article.getLinkedContent('Mobile Header Scripts') %}
		{% set articleHeaderScripts = article.getLinkedContent('Mobile Header Scripts')|raw %}
	{% endif %}
 	{{ articleHeaderScripts|raw }}
{% endblock %}

{% block article_body %} {# placed content in a edge-to-edge container. #}
 
	{% block article_content %}

		{# configure the blocks #}

		{% if article.getLinkedContent('Mobile Body') %} 
			{% set articleContent = article.getLinkedContent('Mobile Body')|raw %}
		{% elseif article.getLinkedContent('Responsive Body') %}
			{% set articleContent = article.getLinkedContent('Responsive Body')|raw %}
		{% else %}
			{% set articleContent = "<h1 style='margin:36px auto;font-size:2em;text-align:center;'>Please create a Linked Content Data item for story " ~ article.id ~ " or add content to an existing LCD. <span style='color:red'>Ensure you don't create a second LCD pointing at this article.</span></h1>" %}
		{% endif %}
		
		{% if '<!-- share -->' in articleContent %} {# look for a designer-placed share widget #}
			{% set articleContent = articleContent|replace({'<!-- share -->': sharing}) %}
			{{ articleContent|raw }}
		{% else %}
			{{ articleContent|raw }} {# otherwise, just print the share widget after the designer content #}
			{% set socialLinks = {
				'facebook': 'Share on Facebook',
				'twitter': 'Share on Twitter'
			} %}
			{% include 'common.social-sharing.twig' with {
				context_class: 'story-share'
			} %}
		{% endif %}

	{% endblock %} 

{% endblock article_body %}

{% block footerScripts %}
	{{ parent() }}

	{# Fetch scripts for the document footer #}
	
	{% if article.getLinkedContent('Footer Scripts') %}
		{% set articleFooterScripts = article.getLinkedContent('Footer Scripts')|raw %}
	{% elseif article.getLinkedContent('Mobile Footer Scripts') %}
		{% set articleFooterScripts = article.getLinkedContent('Mobile Footer Scripts')|raw %}
	{% endif %}
	{{ articleFooterScripts|raw }}
{% endblock %}

{% block footerNav %}{% endblock %} {# remove the big nav footer #}